*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole di debug */

/* .start-bootstrap{
    height: 600px;
}  */

.ms_dotted{
    border: 2px dotted black;
}

/* utility */

.ms_bg-bluegrey{
    background-color: #3a546d;
}

.ms_bg-greenwater{
    background-color: #1abc9c;
}

.ms_bg-darkblue{
    background-color: #2c3e50;
}

.ms_col-greenwater{
    color: #1abc9c;
}


/* codice */

#footer-top a{
    width: 40px;
    height: 40px;
}

.line{
    width: 100px;
    height: 4px;
}

.star{
    font-size: 30px;
}